* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/BarlowCondensed-Regular.ttf');
}

header {
  z-index: 1030;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  position: relative;
  margin: 0;
}

.row,
.container-fluid {
  padding: 0;
  margin: 0;
}

.wp-block {
  position: relative;
}

.fa-bars {
  color: #006000;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

#primary-container {
  position: relative;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    height: 100%;
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    height: 100%;
    max-width: 1340px;
  }
}

@media (min-width: 1600px) {
  .container {
    height: 100%;
    max-width: 1540px;
  }
}

/* Header */
.logo-control {
  margin-left: auto;
  margin-right: auto;
  height: 5em !important;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.navbar-brand,
.navbar-brand.span {
  padding-top: 6%;
  white-space: nowrap;
  color: #000;
  margin-left: 16px;
  text-transform: uppercase;
  font-weight: 900;
  justify-content: center;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 45%;
    height: 100%;
    background-color: white;
    z-index: 1030;
  }

  .navbar-collapse.collapsing {
    right: -70%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    right: 0;
    transition: right 300ms ease-in-out;
  }

  .navbar-toggler.collapsed~.navbar-collapse {
    transition: right 500ms ease-in-out;
  }
}

.close-navbar-collapse {
  width: 30px;
  border: 2px solid tomato;
  cursor: pointer;
}

.fa-times {
  justify-content: center;
  align-items: center;
}

.carousel-container {
  padding: 0;
  /* against padding */
}

.top-layout,
.content-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  width: 100%;
  padding: 5rem;
}

@media screen and (max-width: 1056px) {

  .top-layout,
  .content-about {
    flex-direction: column-reverse;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    grid-gap: 2rem;
    align-content: center;
  }
}

.right-top-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.right-top-layout-bg,
.contact-bg {
  margin: 1rem;
  width: 100%;
  height: -webkit-fill-available;
  object-fit: cover;
  border-radius: 13%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  padding: 1rem;
}

.left-top-layout,
.bottom-left-layout {
  text-align: center;
  margin: auto;
}

.ftco-section {
  background-color: #fff;
  padding-top: 1em;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 10px;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #228B22;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:before {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
  color: #228B22;
}

.ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover:before {
  width: 100%;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-top: .7rem;
    padding-bottom: .7rem;
  }

  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
    color: #005c09;
  }
}

@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu {
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
  border-radius: 4px;
}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:hover,
.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:focus {
  background: #228B22;
  color: #fff;
}

.ftco-navbar-light .navbar-nav>.nav-item.cta>a {
  color: #fff;
  background: #228B22;
  border-radius: 0px;
}

@media (max-width: 767.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    color: #fff;
    background: #228B22;
    border-radius: 4px;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
  color: #228B22;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav> {
    color: #fff;
  }
}

.ftco-navbar-light .navbar-toggler {
  border: 1px solid;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: .1em;
}

.ftco-navbar-light .navbar-toggler:focus {
  outline: none !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 .1rem;
}

.navbar-brand span {
  display: block;
  font-size: 12px;
  font-weight: 50s;
  color: rgba(0, 0, 0, 0.3);
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #000;
}

.social-media {
  display: inline-block;
}

@media (max-width: 991.98px) {
  .social-media {
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  .social-media {
    margin-bottom: 20px;
  }
}

.social-media p a {
  border: 1px solid #e6e6e6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 4px;
}

.social-media p a span {
  color: #4d4d4d;
}

.social-media p a:hover {
  background: #228B22;
  border-color: #228B22;
}

.social-media p a:hover span {
  color: #fff;
}

.logo {
  width: 100%;
}

@media (min-width: 992px) {
  .logo {
    width: auto;
  }
}

/* End of header */

/* List properties */

#page-b,
#page-c {
  padding-bottom: 100px;
  padding-top: 100px;
}

.page-title {
  line-height: 3;
  font-family: BarlowCondensed;
  font-weight: 700;
  text-transform: uppercase;
  color: #10312b;
}

.card {
  width: 100%;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .2);
  transition: all .2s ease;
  background: #fff;
  position: relative;
  overflow: hidden;
  border: none;
}

.card.card-hover:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .3), 0 0 1px 0 rgba(0, 0, 0, .25);
}

.card-content {
  box-shadow: inset 0 3px 0 0 #ccb65e;
  border-color: #ccb65e;
}

.card-img {
  position: relative;
}

.card-img:hover .overlay-card {
  background-color: rgba(25, 29, 38, .85);
  transition: opacity .2s ease;
  opacity: 1;
}

.card-img>img {
  position: relative;
  height: auto;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  transition: opacity .2s ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-card {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: .2s;
}

.overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overlay-hover {
  color: #fff;
  padding: 0 2rem;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, .4);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: .2s;
}

.overlay-hover:hover {
  transition: .2s;
  background: #ccb65e;
  border-color: #ccb65e;
}

.card-content {
  width: 100%;
  min-height: 104px;
  background-color: #fff;
  padding: 1rem 2rem;
  transition: all .2s ease;
}

.card-description h2 {
  font-size: 1.25rem;
  line-height: 1.1;
  text-decoration: none;
  color: #202927;
}

.card-description p {
  font-size: 1rem;
  color: #113964;
  font-weight: 500;
}

/* End of list properties*/

/* Facilites */

.content-facilities-left {
  align-self: center;
}

.row-item-fac {
  align-self: center;
}

@media (min-width: 992px) {
  .row-item-fac {
    padding-top: 3rem;
  }
}

@media (min-width: 1200px) {
  .row-item-fac {
    padding-top: 10rem;
  }
}

.img-fluid {
  width: 100%;
  padding: 0;
}

@media (min-width: 992px) {
  .img-fluid {
    padding: 3rem;
  }
}

.parent-icon-fac {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-icon-fac {
  color: #000000;
}

.item-fac {
  text-align: center;
}

.icon-warp {
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
}

.icon-fac-title {
  color: #000000;
  font-size: 30px !important;
  font-weight: lighter;
  font-family: "BarlowCondensed";
}

/* End of facilities */

/* Pop up */

.main-img-layout {
  padding: 0;
  border: 1px solid salmon;
  height: 50%;
  text-align: center;
}

.main-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.modal-layout-right {
  row-gap: 100px;
}

.spacing-top {
  padding-bottom: 0;
}

.spacing-bottom {
  margin-top: 100%;
}

.modal-desc-text {
  font-size: calc(16px + 2vh);
}

/* End of pop up */

/* Carousel */
.carousel-item {
  height: 32rem;
  background: #777;
  color: white;
  position: relative;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
}

/* End of carousel */

/* Footer */

.second {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-right: 2.5em;
}

.second li {
  list-style: none;
  padding-bottom: 15px;
}

.second a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
}

.second a:hover {
  color: #fff;
  transition: 0.2s;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
  text-decoration: none
}

/* End of Footer */

/* About */
h6.contact-title {
  text-align: center;
}

.call,
.chat,
.email {
  display: -webkit-inline-box;
  margin: 10px;
}

span.icon-name-about,
span.icon-desc-about {
  display: table-row-group;
}

.contact-icon {
  font-size: 60px;
  margin: 0.4rem;
}

.left-content-about .right-content-about {
  margin: 10px;
  height: 100%;
  border: 5px solid hotpink;
}

.google-maps iframe {
  width: 100%;
  height: 500px;
  border: 0;
}

/* End of about */