* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  overflow-x: hidden;
}

@font-face {
  font-family: BarlowCondensed;
  src: url('../fonts/BarlowCondensed-Regular.ttf');
}

@font-face {
  font-family: PoppinsReguler;
  src: url('../fonts/Poppins-Regular.ttf');
}

header {
  z-index: 1030;
}

.container-fluid,
.row {
  padding: 0;
  margin: 0;
}

.fa-bars {
  color: #006000;
}

#primary-container {
  position: relative;
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    height: 100%;
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    height: 100%;
    max-width: 1340px;
  }
}

@media (min-width: 1600px) {
  .container {
    height: 100%;
    max-width: 1540px;
  }
}

/* Header */
.logo-wrap img {
  height: 4rem !important;
  padding: 1vh 2vw;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
}

.navbar-brand {
  margin: 0;
  white-space: nowrap;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
}

.navbar-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  list-style: none;
}

@media (max-width: 992px) {

  .nav-wrap-m {
    padding-bottom: 4rem;
  }

  .navbar-brand {
    display: none;
  }

  .navbar-collapse {
    top: 0;
    right: -70%;
    transition: height 0s ease;
    position: fixed;
    padding-left: 15px;
    width: 45%;
    height: 100%;
    background-color: white;
    z-index: 999;
  }

  .navbar-collapse.show {
    right: 0;
    transition: right 300ms ease-in-out;
  }

  .navbar-toggler.collapsed~.navbar-collapse {
    transition: right 500ms ease-in-out;
  }
}

.close-navbar-collapse {
  display: flex;
  justify-content: end;
  font-size: 30px;
  padding: .5rem 1rem;
  cursor: pointer;
}

.right-top-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.right-top-layout img {
  width: 100%;
  height: -webkit-fill-available;
  object-fit: cover;
  padding: 1rem;
}

.ftco-section {
  background-color: #fff;
  padding: 1em;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 992px) {
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 10px;
  }
}

.navbar-nav>.nav-item>.nav-link {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  opacity: 1 !important;
}

.navbar-nav>.nav-item>.nav-link:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #228B22;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navbar-nav>.nav-item>.nav-link:hover {
  color: #228B22;
}

.navbar-nav>.nav-item>.nav-link:hover:before {
  width: 100%;
}

@media (max-width: 992px) {
  .navbar-nav>.nav-item>.nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-top: .7rem;
    padding-bottom: .7rem;
  }

}

.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:hover,
.ftco-navbar-light .navbar-nav>.nav-item .dropdown-menu .dropdown-item:focus {
  background: #228B22;
  color: #fff;
}

@media (max-width: 768px) {
  .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 992px) {
  .ftco-navbar-light .navbar-nav>.nav-item.cta>a {
    color: #fff;
    background: #228B22;
    border-radius: 4px;
  }
}

.ftco-navbar-light .navbar-nav>.nav-item.active>a {
  color: #228B22;
}

.ftco-navbar-light .navbar-toggler {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: .1em;
}

.ftco-navbar-light .navbar-toggler:focus {
  outline: none !important;
}

.navbar-toggler {
  position: absolute;
  right: 0;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 .1rem;
}

.navbar-brand span {
  display: block;
  font-size: 12px;
  font-weight: 50s;
  color: rgba(0, 0, 0, 0.3);
}

.navbar-brand:hover {
  color: #000;
}

/* End of header */

/* List properties */

#page-b,
#page-c {
  padding: 3rem 0;
}

.page-title {
  line-height: 3;
  font-family: BarlowCondensed;
  font-weight: 700;
  text-transform: uppercase;
  color: #10312b;
}

.card {
  width: 100%;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .2);
  transition: all .2s ease;
  background: #fff;
  position: relative;
  overflow: hidden;
  border: none;
}

.card.card-hover:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .3), 0 0 1px 0 rgba(0, 0, 0, .25);
}

.card-content {
  box-shadow: inset 0 3px 0 0 #ccb65e;
  border-color: #ccb65e;
}

.card-img {
  position: relative;
}

.card-img:hover .overlay-card {
  background-color: rgba(25, 29, 38, .85);
  transition: opacity .2s ease;
  opacity: 1;
}

.card-img>img {
  position: relative;
  height: auto;
  width: 100%;
  aspect-ratio: 3 / 2;
  background-color: #fff;
  transition: opacity .2s ease;
  background-position: center center;
  object-fit: cover;
}

.overlay-card {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: .2s;
}

.overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a.overlay-hover {
  color: #fff;
  padding: 0 2rem;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, .4);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: .2s;
}

.overlay-hover:hover {
  transition: .2s;
  background: #ccb65e;
  border-color: #ccb65e;
}

.card-content {
  width: 100%;
  min-height: 104px;
  background-color: #fff;
  padding: 1rem 2rem;
  transition: all .2s ease;
}

.card-description h2 {
  font-size: 1.25rem;
  line-height: 1.1;
  text-decoration: none;
  color: #202927;
}

.card-description p {
  font-size: 1rem;
  color: #113964;
  font-weight: 500;
}

/* End of list properties*/

/* Blueprints */

.modal-header {
  border-bottom: none;
  padding: 0;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.modal-bg {
  background: #f9eaf2;
  border-radius: 15px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.main-img-layout {
  padding: 0;
  margin: 0;
  border: 1px solid salmon;
  height: 450px;
  text-align: center;
}

.main-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* .modal-layout-right {
  row-gap: 100px;
} */

.spacing-top {
  top: 0;
}

.modal-layout-right {
  justify-content: center;
}

.spacing-bottom {
  display: flex;
  justify-content: center;
}

.modal-desc-text {
  font-size: calc(16px + 1vh);
  word-break: break-word;
  text-align: left;
}

.preview-main-img {
  padding-top: 2rem;
}

.child-product-thumbnail img {
  float: left;
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.btn-tertiary {
  color: #fff;
  background: #48da79;
  border-color: #48da79;
  font-family: PoppinsRegular Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  width: 80%;
  height: 40px;
}

@media (max-width: 992px) {
  .btn-tertiary {
    position: relative;
    margin-top: 15px;
  }
}

.btn-tertiary:hover {
  color: #fff;
  border-color: #28c75d;
  background: #28c75d;
}

.fa-whatsapp {
  font-size: 25px;
  margin-right: .5rem;
  justify-content: start;
}

/* End of blueprints */

/* Facilites */

.content-facilities-left {
  align-self: center;
}

.row-item-fac {
  align-self: center;
  gap: 50px;
}

@media (min-width: 992px) {
  .row-item-fac {
    padding-top: 3rem;
  }
}

@media (min-width: 1200px) {
  .row-item-fac {
    padding-top: 10rem;
  }
}

.img-fluid {
  width: 100%;
  padding: 0;
}

@media (min-width: 992px) {
  .img-fluid {
    padding: 3rem;
  }
}

.parent-icon-fac {
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-icon-fac {
  color: #000000;
}

.item-fac {
  text-align: center;
}

.icon-warp {
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
}

.icon-fac-title {
  color: #000000;
  font-size: 30px !important;
  font-weight: lighter;
  font-family: "BarlowCondensed";
}

/* End of facilities */

/* Carousel */

.wrap-welcome-carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}

.welcome-carousel-inner span {
  font-size: 36px;
  font-weight: bold;
}

.btn-welcome span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-transition: all 0.3s;
  -moz-backface-visibility: hidden;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.tm-btn-cta {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item {
  height: 32rem;
  background: #777;
  color: white;
  position: relative;
}

.carousel-indicators {
  z-index: 600;
  justify-content: start;
}

.carousel-indicators li {
  text-align: center;
  font-size: 10px;
  z-index: 800;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  text-indent: 0;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
}

/* End of carousel */


/* Contact */

.call,
.chat,
.email {
  display: -webkit-inline-box;
  margin: 10px;
}

span.icon-name-about,
span.icon-desc-about {
  display: table-row-group;
}

.contact-icon {
  font-size: 60px;
  margin: 2rem;
}

.google-maps iframe {
  width: 100%;
  height: 500px;
  border: 0;
}

/* End of contact */

/* About */

.banner-area {
  background: url(https://images.unsplash.com/photo-1581279813180-4dddc1008167?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDEwfHxDb21tZXJjaWFsJTIwRG9vcnN8ZW58MHx8fHwxNjUwMzc0MzE4&ixlib=rb-1.2.1&q=80&w=1080) no-repeat center/contain;
  background-size: cover;
}

.banner-relative {
  position: relative;
}

.banner-overlay {
  background: -webkit-linear-gradient(to bottom, #00000085, #00000099);
  background: -o-linear-gradient(to bottom, #00000085, #00000099);
  background: -moz-linear-gradient(to bottom, #00000085, #00000099);
  background: linear-gradient(to bottom, #00000085, #00000099);
  opacity: .9;
}

.banner-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.height {
  height: 32rem;
}

.ar-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}

.ar-center p {
  padding-left: 0;
}

/* @media (min-width: 576px) {
  .ar-center {}
} */

.text-justify {
  word-break: break-all;
}

/* End of about */

.count {
  padding-right: 20px;
}

.count h1 {
  color: #277007;
  font-size: 48px;
}

.count h2 {
  font-size: 1.125em;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.desc p {
  line-height: 25px;
}

.feature-bottom-area {
  padding-bottom: 100px;
}

/* Footer */

.second {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second li {
  list-style: none;
  padding-bottom: 15px;
}

.second a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
}

.second a:hover {
  color: #fff;
  transition: 0.2s;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
  text-decoration: none
}

.li-find-us {
  margin-bottom: 1rem !important;
  justify-content: start;
  display: flex;
  padding-left: 20px;
}

/* End of Footer */

/* Button Reservasi */
.reservasi {
  font-family: BarlowCondensed;
  font-weight: 800;
  padding: 10px 20px;
  border-radius: 5px;
}

#reservasiBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}